<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>STORE_URL</key>
	<string>$(STORE_URL)</string>
	<key>STOREFRONT_TOKEN</key>
	<string>$(STOREFRONT_TOKEN)</string>
	<key>API_KEY</key>
	<string>$(API_KEY)</string>
	<key>API_SECRET_KEY</key>
	<string>$(API_SECRET_KEY)</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>backGround</string>
		<key>UIImageName</key>
		<string>quickmart</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<true/>
	</dict>
</dict>
</plist>
